html {
  background-color: #212832
}

#homenav {
  display: none
}
#widget-base {
  position: absolute;
  background-color: transparent;
  width: 600px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 80px
}
.user-greeting {
  font-family: 'GSansMedium';
  color: #E8E8E8;
  position: absolute;
}
.desktop-greeting {
  display: block
}
.user-greeting span:nth-child(1) {
  font-size: 20px;
}
.user-greeting span:nth-child(3) {
  font-size: 45px;
  font-family:'GSansBlack';
}
#widget {
  width: 100%;
  height: max-content;
  background-color: transparent;
  position: absolute;
  top: 120px
}
.widget-body {
  width: calc((100% / 2) - 5px);
  background-color: #31475e;
  position: absolute;
  border-radius: 20px;
  min-height: 100px;
  height: 150px
}

@media screen and (max-width: 900px) {
  #homenav {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #31475e;
    border-radius: 0px 0px 30px 30px;
    display: block;
    top: 0px;
    left: 0px;
    color: #E8E8E8
  }
  #homenav-profile {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  #user-greeting {
    font-family: 'GSansMedium';
    color: #E8E8E8;
    position: absolute;
    bottom: 2px;
    left: 15px
  }
  #user-greeting span:nth-child(1) {
    font-size: 17px;
  }
  #user-greeting span:nth-child(3) {
    font-size: 35px;
    font-family:'GSansBlack'
  }
  #widget-base {
    position: absolute;
    background-color: transparent;
    width: 400px;
    height: calc(100% - 200px);
    left: 50%;
    transform: translateX(-50%);
    top: 220px
  }
  .desktop-greeting {
    display: none;
  }
  .widget-body {
    width: calc((100% / 2) - 5px);
    background-color: #31475e;
    position: absolute;
    aspect-ratio: 1 / 1;
    max-width: 190px;
    max-height: 190px;
    min-height: 190px;
    border-radius: 20px;
  }
  #widget {
    width: calc(100% - 10px);
    height: max-content;
    background-color: transparent;
    position: absolute;
    top: 0px
  }
  #widget span:nth-child(2) {
    right: -10px
  }
  .widget-title {
    font-family: 'GSansBlack';
    font-size: 23px;
    margin-bottom: 10px;
    color: #E8E8E8
  }
  #summary-tiles div:nth-child(3) {
    right: 0px
  }
}
#widget button:nth-child(4) {
  color: red;
  top: 100px;
  position: absolute
}

#utilities-tiles {
  position: absolute;
  top: 270px;
  width: 100%;
  background-color: transparent;
}
.utilities-button-panel {
  width: calc((100% / 2) - 5px);
  background-color: transparent;
  position: absolute;
  border-radius: 20px;
}
.utilities-button {
  width: 100%;
  height: 65px;
  border: 4px solid #31475e;
  border-radius: 14px;
  background-color: #212832;
  color: #E8E8E8;
  font-family: 'GSansMedium';
  font-size: 20px;
  margin-bottom: 5px
}
#summary-tiles {
  width: 100%;
  height: 200px;
  background-color: transparent
}
#summary-tiles div:nth-child(3) {
  right: 0px
}
.widget-title {
  font-size: 27px;
  font-family: 'GSansBold';
  color: #E8E8E8;
  margin-bottom: 10px
}
button {
  cursor: pointer;
}
#quotesOfTheDay {
  width: calc((100% / 2) - 5px);
  background-color: transparent;
  position: absolute;
  border-radius: 20px;
  height: 205px;
  right: 0px;
  box-shadow: inset 0px 0px 0px 5px #31475e;
  background-image: url('../../resource/quotes-of-the-day.jpg');
  background-size: cover;
  background-position: center;
}
.quotesButton {
  position: absolute;
  background-color: gray;
  transform: translateX(-50%);
  left: 50%;
  bottom: 10px;
  color: #E8E8E8;
  font-family: 'GSansMedium';
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  font-size: 17px
}
.quotesButton.idle {
  width: calc(100% - 20px);
  position: absolute;
  height: 45px;
  background-color: rgb(33, 40, 50, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  display: grid;
  place-items: center;
}
.quotesButton.idle:hover {
  width: calc(100% - 20px);
  position: absolute;
  height: 50px;
  background-color: rgb(33, 40, 50, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  text-align: center;
  display: grid;
  place-items: center;
}
.quotesButton.opened {
  width: calc(100% - 25px);
  position: absolute;
  height: calc(100% - 20px);
  background-color: rgb(33, 40, 50, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  text-align: start;
  display: block;
  place-items: start;
  padding-left: 5px
}
.quotesButton.opened:hover {
  width: calc(100% - 25px);
  position: absolute;
  height: calc(100% - 25px);
  background-color: rgb(33, 40, 50, 0.8);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  text-align: start;
  display: block;
  place-items: start;
}