#base-body {
  width: 100%;
  height: 100%;
  position: absolute;
}
#floating-navbar {
  width: calc(100% - 120px);
  height: 60px;
  background-color: rgb(33, 40, 50, 0.70);
  position: fixed;
  border-radius: 100px;
  box-shadow: 0px 0px 30px -10px #31475E;
  backdrop-filter: blur(35px);
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
  z-index: 50
}
#schedule-image {
  width: 100%;
  margin-top: 100px;
  max-width: 530px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
#day-selector {
  width: 431px;
  height: 60px;
  background-color: #31475E;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.day-button.idle {
  width: 80.2px;
  height: 50px;
  background-color: #212832;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'GSansMedium';
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
}
.day-button-wed.idle {
  width: 80.2px;
  height: 50px;
  background-color: #212832;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'GSansMedium';
  font-size: 13px;
  text-align: center;
  transition: 0.5s;
}
.day-button-wed.active {
  width: 80.2px;
  height: 50px;
  background-color: #007AFF;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'GSansMedium';
  font-size: 13px;
  text-align: center;
  transition: 0.5s
}
.day-button.active {
  width: 80.2px;
  height: 50px;
  background-color: #007AFF;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  margin-top: 5px;
  font-family: 'GSansMedium';
  font-size: 15px;
  text-align: center;
  transition: 0.5s;
}
#navbar-icon{
  width: 50px;
  border-radius: 100px;
  margin: 5px 0px 0px 5px;
  position: absolute
}
.reorder-three {
  color: #e8e8e8;
  width: 50px
}
#burger-menu {
  width: 100px;
  height: 50px;
  border-radius: 100px;
  background-color: #31475E;
  position: absolute;
  right: 5px;
  top: 5px;
  display: grid;
  align-items: center;
  place-items: center;
}

.navigation-page.show {
  width: calc(100% - 80px);
  max-width: 500px;
  position: absolute;
  height: 100%;
  background-color: #212832c8;
  backdrop-filter: blur(30px);
  z-index: 51;
  transition: 0.5s ease;
  left: 0%;
  box-shadow: 0px 0px 30px -10px #31475E
}
#navigationPage-title {
  color: #E8E8E8;
  font-size: 30px;
  font-family: 'GSansBold';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px
}
#navigation-content-grid {
  width: calc(100% - 100px);
  height: 4px;
  background-color: #E8E8E8;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px
}
.navigation-page.hidden {
  width: calc(100% - 80px);
  max-width: 500px;
  position: absolute;
  height: 100%;
  background-color: rgb(33, 40, 50, 0.7);
  backdrop-filter: blur(0px);
  z-index: 51;
  transition: 0.5s ease;
  left: -100%;
  box-shadow: 0px 0px 30px -10px transparent
}
.navigation-content-href {
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color:transparent;
  text-align: center;
}
.navigation-href-title {
  font-family: 'GSansMedium';
  font-size: 21px;
  color: #E8E8E8;
  cursor: pointer;
  transition: 0.2s ease all;
}
.navigation-href-title:hover {
  font-family: 'GSansMedium';
  font-size: 23px;
  color: #E8E8E8;
  cursor: pointer;
  transition: 0.2s ease all
}
@media screen and (min-width: 900px) {
  #navbar-icon{
    width: 50px;
    border-radius: 100px;
    margin: 5px 0px 0px 5px;
    position: absolute
  }
  #schedule-image {
    width: 100%;
    margin-top: 100px;
    max-width: 580px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute
  }
  #floating-navbar {
    max-width: 800px
  }
  #day-selector {
    width: 500px;
    height: 60px;
    background-color: rgb(49, 71, 94, 0.5);
    position: fixed;
    bottom: 10px;
    left: 50%;
    border-radius: 15px;
    transform: translateX(-50%);
    backdrop-filter: blur(10px)
  }
  .day-button.idle {
    width: 94px;
    height: 50px;
    background-color: #212832;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'GSansMedium';
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
  }
  .day-button-wed.idle {
    width: 94px;
    height: 50px;
    background-color: #212832;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'GSansMedium';
    font-size: 13px;
    text-align: center;
    transition: 0.5s;
  }
  .day-button-wed.active {
    width: 94px;
    height: 50px;
    background-color: #007AFF;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'GSansMedium';
    font-size: 13px;
    text-align: center;
    transition: 0.5s
  }
  .day-button.active {
    width: 94px;
    height: 50px;
    background-color: #007AFF;
    color: #e8e8e8;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
    font-family: 'GSansMedium';
    font-size: 15px;
    text-align: center;
    transition: 0.5s;
  }
  #burger-menu {
    display: none;
  }
  #user-profile {
    width: 50px;
    height: 50px;
    position: absolute;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100px;
    background-image: url('../../resource/profile.jpg');
    background-size: cover;
    cursor: pointer
  }
  .navigation-page.show {
    width: calc(100% - 80px);
    max-width: 500px;
    position: absolute;
    height: 100%;
    background-color: #212832c8;
    backdrop-filter: blur(30px);
    z-index: 51;
    transition: 0.5s ease;
    left: -100%;
    box-shadow: 0px 0px 30px -10px #31475E
  }
}
